<!-- banner secion -->
<section class="banner-section">
  <div class="object-1"></div>
  <div class="container">
    <div class="first">
      <div class="row mb-5 d-flex align-items-end">
        <div class="navbar top-bar navbar-expand-lg">
          <a
            class="navbar-brand topbar"
            style="font-size: 30px; font-weight: 400"
            href="#"
            >Camps.</a
          >
          <button
            class="navbar-toggler ms-4"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link topbar ms-lg-5 ms-sm-1" href="#">Browser</a>
              </li>
              <li class="nav-item">
                <a class="nav-link topbar ms-lg-5 ms-sm-1" href="#"
                  >Bootcramps</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link topbar ms-lg-5 ms-sm-1" href="#"
                  >How it works</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link topbar ms-lg-5 ms-sm-1" href="#"
                  >Testimotial</a
                >
              </li>
            </ul>
            <span class="navbar-text">
              <button type="button login col-lg-ms-3" class="btn login">
                Login
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row text">
        <div class="col-sm-12 col-lg-5 text-wrapper col">
          <div class="camps">Welcome to CAMPS.</div>
          <div class="big">Creative Digital</div>
          <div class="big mb-2">Bussiness Agency</div>
          <p style="font-size: 12px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            maxime tenetur corporis veniam sunt ipsam recusandae?
          </p>
          <button type="button" class="btn btn-secondary botton">
            More About Us
          </button>
        </div>
        <div class="col-7">
          <div class="office">
            <div class="ofp">
              <img src=" assets/office-2.jpg" alt="img" />
            </div>
          </div>
          <div class="office-1">
            <div class="ofp-1">
              <img src="assets/office.png" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- parters section -->
<section class="partners-section">
  <div class="container">
    <div class="row d-flex justify-content-lg-center ms-lg-2 logo-wapper">
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 tinder logo mb-4">
        <img src="assets/tinder.jpg" alt="" />
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 microsoft mb-4 logo">
        <img src="assets/microsoft.png" alt="" />
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-4 logo">
        <img src="assets/netflex.jpg" alt="" />
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 mb-4 logo">
        <img src="assets/paypal.png" alt="" />
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 logo">
        <img src="assets/visa.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- best-bussiness -->
<section class="best-bussiness">
  <div class="container mt-4 mt-lg-5">
   
    <div class="row d-flex">
      <div class="me-4 mt-5 col-sm-12 col-md-12 col-lg-6">
        <h1 class="best mb-2 mt-2">The best bussiness solution for you</h1>
        <div class="lorem mb-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
          eligendi! Repellat culpa ipsam reiciendis fugit, maiores veniam ab
          mollitia quisquam minus eligendi nemo.
        </div>
        <div style="color: #ed677a">See More Information</div>
      </div>
      <div
        class="col-sm-12 mt-5 col-md-12 col-lg-6 row d-flex justify-content-between"
      >
        <div class="col-12 col-md-6 col-lg-6 ms-3 me-3">
          <div class="circle mb-3"><i class="fa-solid emoji fa-laptop-code"></i></div>
          <div class="dark mt-4 mb-4">Amazing Course</div>
          <div
            class="dash-col"
            style="background-color: rgb(250, 120, 140)"
          ></div>
          <div>Lorem ipsum, dolor sit amet consectetur</div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 ms-3 me-3">
          <div
            class="circle circle-2 mb-3"
            style="background-color: rgb(111, 202, 200)"
          ><i class="fa-solid emoji fa-champagne-glasses"></i></div>
          <div class="dark mt-4 mb-4">Bootcramps</div>
          <div
            class="dash-col"
            style="background-color: rgb(111, 202, 200)"
          ></div>
          <div>Lorem ipsum, dolor sit amet consectetur .</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-lg-5 ms-3 me-3">
          <div
            class="circle circle-3 mb-3"
            style="background-color: #b988f9"
          ><i class="fa-solid emoji fa-laptop-code"></i></div>
          <div class="dark mt-4 mb-4">Creative Solution</div>
          <div class="dash-col" style="background-color: #b988f9"></div>
          <div>Lorem ipsum, dolor sit amet consectetur</div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-lg-5 ms-3 me-3">
          <div
            class="circle circle-4 mb-3"
            style="background-color: #fe9654"
          ><i class="fa-solid emoji fa-champagne-glasses"></i></div>
          <div class="dark mt-4 mb-4">Daily Analysis</div>
          <div class="dash-col" style="background-color: #fe9654"></div>
          <div>Lorem ipsum, dolor sit amet consectetur .</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- resourse -->
<section class="resourse">
  <div class="resource-graph">
    <div class="object-2"></div>
    <div class="graph">
      <img src="assets/Graph.jpg" alt="img" />
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-end me-lg-5 mt-lg-5 me-sm-0">
      <div class="col-sm-12 me-lg-5 me-sm-0 mt-lg-5 col-lg-4">
        <div class="insight mb-2">Insight and resourse to help earn faster</div>
        <div class="lorem mb-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
          eligendi! Repellat culpa ipsam reiciendis fugit, maiores veniam ab
          mollitia quisquam minus eligendi nemo.
        </div>
        <div style="color: #ed677a">See More Information</div>
      </div>
    </div>
  </div>
</section>
<!-- opportunites -->
<section class="opportunites mb-5">
  <div class="object-3"></div>
  <div class="container">
    <div class="row down mt-lg-5">
      <div class="down col-sm-12 col-lg-4">
        <div class="insight mb-2">Insight and resourse to help earn faster</div>
        <div class="mb-3 lorem">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
          eligendi! Repellat culpa ipsam reiciendis fugit, maiores veniam ab
          mollitia quisquam minus eligendi nemo.
        </div>
        <div style="color: #ed677a">See More Information</div>
      </div>
    </div>
  </div>
  <div class="container explore">
   
    <div class="insight mt-3 col-lg-4 col-sm-12">
      Explore our course for more bussiness solution
    </div>
  </div>
</section>
<!-- image-container -->
<section class="image-container mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="arrow row col-sm-12 col-lg-2">
        <div class="col col-lg-6 right-arrow">
          <i class="fa-solid fa-arrow-left-long" style="color: #fff"></i>
        </div>
        <div class="col col-lg-6 left-arrow">
          <i class="fa-solid fa-arrow-right-long"></i>
        </div>
      </div>
      <div class="col-lg-10 col-sm-12 d-flex justify-content-lg-around row">
        <div *ngFor="let data of datas" class="col-lg-4 mt-sm-5 col-sm-12">
          <div class="card shodow ms-sm-3">
            <img src="assets/meeting.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ data.heading }}</h5>
              <p class="card-text">
                {{ data.description }}
              </p>
              <div class="row">
                <div class="col-6 name">{{ data.name }}</div>
                <div class="col-6 views">
                  {{ data.views }} <span>Views</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- center -->
<section class="choose mb-5 mt-5">
  <div class="container mt-5">
    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-12 mt-5 d-flex justify-content-center">
      
      </div>
      <div class="col-12 insight d-flex justify-content-center">
        Choose your plan
      </div>
    </div>
  </div>
</section>
<!-- hover-container -->
<section class="hover-container mb-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-3 hover mt-sm-5 col-sm-12">
        <div class="icon mt-5 mb-5"><i class="fa-solid fa-car"></i></div>
        <div class="work mb-2 mt-2">Personal</div>
        <div class="lorem-1 mb-2 mt-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          alias non reiciendis?
        </div>
        <div class="price mb-2 mt-2"> <b>5</b><span>month</span></div>
      </div>
      <div class="col-lg-3 hover mt-sm-5 col-sm-12">
        <div class="icon mt-5 mb-5"><i class="fa-solid fa-car"></i></div>
        <div class="work mb-2 mt-2">Team</div>
        <div class="lorem-1 mb-2 mt-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          alias non reiciendis?
        </div>
        <div class="price mb-2 mt-2"><b>5</b> <span>month</span></div>
      </div>
      <div class="col-lg-3 hover mt-sm-5 col-sm-12">
        <div class="icon mt-5 mb-5"><i class="fa-solid fa-car"></i></div>
        <div class="work mb-2 mt-2">Co operate</div>
        <div class="lorem-1 mb-2 mt-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          alias non reiciendis?
        </div>
        <div class="price mb-2 mt-2"><b>5</b> <span>month</span></div>
      </div>
      <div class="col-lg-3 hover mt-sm-5 col-sm-12">
        <div class="icon mt-5 mb-5"><i class="fa-solid fa-car"></i></div>
        <div class="work mb-2 mt-2">Co operate</div>
        <div class="lorem-1 mb-2 mt-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          alias non reiciendis?
        </div>
        <div class="price mb-2 mt-2"><b>5</b> <span>month</span></div>
      </div>
    </div>
  </div>
</section>
<!-- costmer -->
<section class="costmer">
  <div class="object-4"></div>
  <div class="container">
    <div class="row ">
      <div class="col-lg-8 mb-lg-5 col-sm-12">
       <div class="something-about">
        <div class="insight mt-lg-4 mb-lg-4 mb-sm-0 mt-sm-1">
          Our Costmer say Something about us
        </div>
        <div class="lorem mt-lg-4 mb-lg-4 mb-sm-0 mt-sm-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          magnam voluptatem a sapiente laudantium! Dolor.
        </div>
        <div style="font-size: 18px; font-weight: 500">Sachet Acharya</div>
   
      </div>
    </div>
    </div>
  </div>
  <div class="avenger">
    <div class="thor">
      <img src=" assets/avenger.png" alt="img" />
    </div>
  </div>
  <div class="object-5-wrapper mt-sm-4">
    <div class="object-5 mt-sm-4"></div>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div
          class="col-lg-7 row inside-box d-flex justify-content-center col-sm-12"
        >
          <div
            class="insight mb-lg-3 mb-sm-2 text-center col-12"
            style="color: white"
          >
            Our Creative Bussines Design
          </div>
          <div
            class="col-12 lorem mt-lg-2 mt-sm-1 mb-lg-3 mb-sm-2 text-center"
            style="color: white"
          >
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
            rerum sed, temporibus dolorem iure inventore pariatur. Beatae
            voluptates maiores excepturi?
          </div>
          <button
            type="button"
            class="col-12 ml-sm-5 mt-lg-2 mt-sm-2 mt-3 mb-lg-3 mb-sm-2 btn btn-secondary botton"
          >
            More About Us
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer -->
<section class="bgcoolor">
  <div class="container footer">
    <div class="row d-flex justify-content-end">
      <div class="col-6 mt-4 col-lg-3">
        <div class="text-grident">Craps.</div>
        <div>cramps@gmail.com</div>
        <div>445-223-432</div>
      </div>
      <div class="col-6 mt-4 col-lg-2">
        <div>
          <div class="mb-3 semi-bold">Quick Link</div>
          <div class="">
            <div>How it works</div>
            <div>Gurantee</div>
            <div>Security</div>
            <div>Report Bug</div>
            <div>Pricing</div>
          </div>
        </div>
      </div>
      <div class="col-6 mt-4 col-lg-2">
        <div>
          <div class="mb-3 semi-bold">About Us</div>
          <div class="">
            <div>About Camps</div>
            <div>Jobs</div>
            <div>Teams</div>
            <div>Blog</div>
            <div>Testimotial</div>
          </div>
        </div>
      </div>
      <div class="col-6 mt-4 col-lg-2">
        <div>
          <div class="mb-3 semi-bold">Support</div>
          <div class="">
            <div>Bootcramp</div>
            <div>Dashboard</div>
            <div>Management</div>
            <div>Personal</div>
          </div>
        </div>
      </div>
      <div class="mb-5 mt-4 col-lg-2">
        <div>
          <div class="mb-3 semi-bold">Product</div>
          <div class="">
            <div>E-book</div>
            <div>Dashboard</div>
            <div>Appdivcation</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row mt-lg-5 mt-sm-2 mb-lg-5 mb-sm-2 d-flex justify-content-end"
    >
      <div
        class="col-12 d-flex justify-content-end mt-lg-2 mt-sm-0 mb-lg-2 mb-sm-0"
      >
        @019 Campas .All right reserve
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
